<template name="editEvalModal">
  <div class="modal fade" id="editEval-modal" tabindex="-1" role="dialog" aria-labelledby="editEval-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="edit-eval">Edit Evaluation</h4>
        </div>
        <form id="send-invite-form">
          <div class="modal-body">
            <div class="row">
              <div class="form-group clearfix">
                <div class="col-sm-6">
                  <label class="control-label">Employee ID</label>
                  <select name="emplId" class="form-control">
                    {{#each empls}}
                      <option selected="{{selected _id evaluation.emplId}}" value="{{_id}}">{{name.first}} {{name.last}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="col-sm-6">
                  <label class="control-label">Manager ID</label>
                  <select name="managerId" class="form-control">
                    {{#each mngrs}}
                      <option selected="{{selected _id evaluation.managerId}}" value="{{_id}}">{{name.first}} {{name.last}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group clearfix">
                <div class="col-sm-6">
                  <label class="control-label">Priority</label>
                  <select class="form-control" name="prio">
                    <option selected="{{selected evaluation.prio 'Highest'}}" value="Highest">Highest</option>
                    <option selected="{{selected evaluation.prio 'High'}}" value="High">High</option>
                    <option selected="{{selected evaluation.prio 'Medium'}}" value="Medium">Medium</option>
                    <option selected="{{selected evaluation.prio 'Low'}}" value="Low">Low</option>
                    <option selected="{{selected evaluation.prio 'not relevant'}}" value="not relevant">not relevant</option>
                  </select>
                </div>
                <div class="col-sm-6">
                  <label class="control-label">Status</label>
                  <select class="form-control" name="evalStatus">
                    <option selected="{{selected evaluation.evalStatus 'Draft'}}" value="Draft">Draft</option>
                    <option selected="{{selected evaluation.evalStatus 'Discuss'}}" value="Discuss">Discuss</option>
                    <option selected="{{selected evaluation.evalStatus 'Active'}}" value="Active">Active</option>
                    <option selected="{{selected evaluation.evalStatus 'Review'}}" value="Review">Review</option>
                    <option selected="{{selected evaluation.evalStatus 'Final'}}" value="Final">Final</option>
                    <option selected="{{selected evaluation.evalStatus 'Archive'}}" value="Archive">Archive</option>
                  </select>
                </div>
               </div>
            </div>
            <div class="row">
              <div class="form-group clearfix">
                <div class="col-sm-6">
                  <label class="control-label">Start Date</label>
                  <input type="date" name="evalStartDate" class="form-control" value="{{evaluation.evalStartDate}}">
                </div>
                <div class="col-sm-6">
                 <label class="control-label">End Date</label>
                 <input type="date" name="evalEndDate" class="form-control" value="{{evaluation.evalEndDate}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group clearfix">
                <div class="col-sm-12">
                  <label class="control-label">Crazy Wish</label>
                  <input type="text" name="crazyWish" class="form-control" value="{{evaluation.crazyWish}}">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Edit Form</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
