<template name="evalsList">
  {{> objectiveModal}}
<div class="jumbotron text-center" style="padding: 20px;">
<h1>Evaluations Overview</h1>
</div>

<div class="container">
<strong>Here goes our list:</strong>
<p></p>
<table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <td><strong>Employee</strong></td>
            <td><strong>Prio</strong></td>
            <td><strong>Crazy Wish</strong></td>
            <td><strong>Manager ID</strong></td>
            <td><strong>Start Date</strong></td>
            <td><strong>End Date</strong></td>
            <td><strong>Status</strong></td>
            <td><strong>Edit / Delete</strong></td>
          </tr>
        </thead>

        <tbody>
            {{#each Evals3}}
            <tr>
				<td>{{emplId}}</td>
				<td>{{prio}}</td>
				<td>{{crazyWish}}</td>
				<td>{{managerId}}</td>
				<td>{{evalStartDate}}</td>
				<td>{{evalEndDate}}</td>
				<td>{{evalStatus}}</td>
              <td>
                <div>
                	  <button data-edit-eval="{{_id}}" class="btn btn-fab btn-success" data-toggle="modal" data-target="#editEval-modal">
                    <i class="fa fa-pencil"></i>
                  </button>
                </div>
                <div>
              	  <button data-edit-obj="{{_id}}" class="btn btn-fab btn-success" data-toggle="modal" data-target="#add-objective-modal">
                    <i class="fa fa-eye"></i>
                  </button>
                </div>
                <div><button class="btn btn-fab btn-danger">
                	{{> quickRemoveButton collection="Evaluations" _id=this._id onError=onError onSuccess=onSuccess beforeRemove=beforeRemove}}
                	<i class="fa fa-paper-plane"></i></button>                   
                </div>
              </td>
            </tr>
            {{/each}}


        </tbody>
      </table>
</div>
</template>
