<template name="objectiveModal">
  <div class="modal fade" id="add-objective-modal" tabindex="-1" role="dialog" aria-labelledby="add-objective-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="add-objective">Add Objective</h4>
        </div>
        <div class="modal-body">
          <table class="table table-bordered">
            <tbody>
              {{#each objectives}}
                <tr>
                  <td>
                    <input id="editObject-{{_id}}" type="text" class="form-control" name="editObjective" value="{{description}}">
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
          <button class="btn btn-success add-objective">Add Objective</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save Objectives</button>
        </div>
      </div>
    </div>
  </div>
</template>
