<template name="authenticatedNavigation">
  <ul class="nav navbar-nav">
    <li class="{{currentRoute 'index'}}"><a href="{{pathFor 'index'}}">Index</a></li>
    <li class="{{currentRoute 'dashboard'}}"><a href="{{pathFor 'dashboard'}}">Dashboard</a></li>
    <li class="{{currentRoute 'newEval'}}"><a href="{{pathFor 'newEval'}}">New Merits</a></li>
    <li class="{{currentRoute 'evalsList'}}"><a href="{{pathFor 'evalsList'}}">Merit Overview</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentUser.emails.[0].address}} <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        {{#if isInRole 'admin'}}{{/if}}
        <li class="users"><a href="{{pathFor 'users'}}">User Admin</a></li>      
        <li class="logout"><a href="#">Logout</a></li>
      </ul>
    </li>
  </ul>
</template>
